#yoshi
[Unit]
Description=unblock wifi,bluetooth

[Service]
Type=simple
ExecStart=/usr/local/bin/rfkill-unblock.py

[Install]
WantedBy=multi-user.target

